* {
	box-sizing: border-box;
}

body {
	width: 345px;
	height: 120px;
	margin: 0;
	overflow: hidden;
}

a {
	cursor: pointer;
}

#feedback {
	background-image: url('../img/feedback.svg');
	width: 24px;
	height: 24px;
	display: float;
	float: right;
	background-size: 24px 24px;
	background-repeat: no-repeat;
}

#song_left_container {
	float: left;
	margin: 0;
}

#song_image_container {
}

#song_func_container {
	width: 100px;
	font-size: 16px;
}

#song_image_enlarge {
	background-image: url('../img/enlarge.svg');
}

#song_download {
	background-image: url('../img/download.svg');
}

#song_wiki {
	background-image: url('../img/wiki.svg');
}

.flat_button {
	color: #444;
	margin: 0 4px 0 5px;
	text-shadow: 0 1px 0 rgb(240, 240, 240);
	display: block;
	outline: 0;
	cursor: pointer;
	float: left;
	height: 24px;
	width: 24px;
	background-size: 24px 24px;
	background-repeat: no-repeat;
}

#song_info_container {
	float: left;
	width: 245px;
	margin: 1px 0;
}

#song_image {
	width: 100px;
	height: 100px;
}

#song_name {
	text-decoration: None;
	font-size: 18px;
	font-weight: bold;
	font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft Yahei",Arial,sans-serif;
	width: 85%;
	height: 27px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 10px;
}

#song_album {
	color: #444;
	outline: 0;
	text-decoration: None;
	display: block;
	width: 100%;
	height: 22px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 10px;
}

.song_control_button {
	margin: 0 6px;
	width: 48px;
	height: 48px;
	display: block;
	float: left;
	background-size: 48px 48px;
	background-repeat: no-repeat;
}

#song_fav {
}

.song_fav_delete {
	background-image: url('../img/faving.svg');
}

.song_fav_add {
	background-image: url('../img/fav.svg');
}

#song_play {
}

.status_play {
	background-image: url('../img/pause.svg');
}

.status_pause {
	background-image: url('../img/play.svg');
}

#song_trash {
}

.status_nottrash {
	background-image: url('../img/trash.svg');
}

.status_trashing, #song_trash:hover {
	background-image: url('../img/trashing.svg');
}

#song_next {
	background-image: url('../img/next.svg');
}

#song_progress {
	height: 5px;
	background-color: rgb(233, 233, 233);
}

#song_progress_bar {
	height: 5px;
	width: 0;
	background-color: black;
}



#login_tips {
	font-size: 22px;
	text-align: center;
	margin: 6px 0;
}

#form_verifier {
	text-align: center;
}

#input_verifier {
	font-size: 18px;
}

#submit_verifier {
	font-size: 18px;
}

